* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
html {
  line-height: 1.16;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  background: #1c1c1d;
  color: #ffffff;
  font-family: "Estonia", cursive, sans-serif;
  display: flex;
  flex-direction: column;
}

header,
main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

h1 {
  margin-top: 0.5rem;
  font-size: 36px;
}

span.h1-shield-text,
.p-shield-text {
  color: #67bfa2;
}

span.h1-spear-text,
.p-spear-text {
  color: #e8c77c;
}

span.h1-bow-text,
.p-bow-text {
  color: #705b5b;
}

/* Website's Header */

.title p {
  margin: 0.875rem 0;
  font-size: 22px;
}

.title h4 {
  margin-top: 2rem;
  margin-bottom: 0.875rem;
  font-size: 22px;
}

.title {
  text-align: center;
}

/* Main Section Box Shadows Preset */

.weapons,
.game-status {
  box-shadow: 0px 8px 12px 12px rgba(17, 17, 19, 0.75);
  -webkit-box-shadow: 0px 8px 12px 12px rgba(17, 17, 19, 0.75);
  -moz-box-shadow: 0px 8px 12px 12px rgba(17, 17, 19, 0.75);
}

/* Main Section */

.game-container {
  margin: 0 1.875rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.weapon-button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  transition: 0.2s ease-in-out 0s;
}

button.weapon-button:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.weapons {
  padding: 1.25rem;
  border: 0.375rem solid #2c2c2d;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shield-weapon,
.spear-weapon,
.baa-weapon {
  width: 70px;
  height: 70px;
}

button p {
  margin: 0.5rem auto;
  color: #9d9da5;
  font-family: "Estonia", cursive, sans-serif;
  font-size: 22px;
}

button.shield p {
  color: #67bfa2;
}

button.spear p {
  color: #e8c77c;
}

button.bow p {
  color: #705b5b;
}

.page-divider {
  width: 100%;
  margin: 1.275rem;
}

.game-status {
  width: 100%;
  padding: 1.25rem;
  border: 0.375rem solid #2c2c2d;
  border-radius: 0.5rem;
  font-size: 22px;
}

/* Player Border Preset */

.player-green-border {
  border: 0.375rem solid #67bfa2;
}

.player-yellow-border {
  border: 0.375rem solid #e8c77c;
}

.player-brown-border {
  border: 0.375rem solid #705b5b;
}

/* Challenger Border Preset */

.challenger-tab,
.challenger-grey-border {
  border-bottom: 0.275rem solid #2c2c2d;
}

.challenger-green-border {
  border-bottom: 0.375rem solid #67bfa2;
}

.challenger-yellow-border {
  border-bottom: 0.375rem solid #e8c77c;
}

.challenger-brown-border {
  border-bottom: 0.375rem solid #705b5b;
}

/* Challenger Section */

.challenger-tab p {
  margin-bottom: 1.125rem;
}

.arena p {
  margin: 1.125rem 0;
}

/* Website Footer */

.web-footer {
  margin-top: 1.875rem;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
}

.bxl-github {
  margin-left: 0.8rem;
  font-size: 26px;
  color: #ffffff;
}

/* End Game Section */

.dead-button {
  transform: none;
  cursor: default;
  opacity: 0.5;
}

.end-game-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 19, 0.5);
  transition: all 1s;
}

.modal-contents {
  background: #2c2c2d;
  border: 0.375rem solid #1c1c1d;
  border-radius: 0.5rem;
  position: relative;
  width: 300px;
  max-width: 80%;
  padding: 1.25rem;
  text-align: center;
  font-family: "Estonia", cursive, sans-serif;
  font-size: 24px;
  color: #9e9ea6;
}

.end-game-text,
.modal-button {
  text-shadow: 3px 5px 2px #2c2c2d;
}

.modal-button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: "Estonia", cursive, sans-serif;
  font-size: 22px;
  color: #9e9ea6;
  transition: 0.2s ease-in-out 0s;
}

.modal-button:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.modal-divider {
  margin: 1.25rem auto;
  width: 90%;
  border: 2px solid #4a4a4d;
  box-shadow: 0px 0px 3px 1px rgba(17, 17, 19, 0.75);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(17, 17, 19, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(17, 17, 19, 0.75);
}

/* Responsive Preset */

@media only screen and (min-width: 650px) {
  h1 {
    font-size: 56px;
  }

  .title p {
    font-size: 32px;
  }

  .title h4 {
    font-size: 32px;
  }

  .weapons {
    padding: 1.875rem;
    width: 600px;
    display: flex;
    justify-content: space-around;
  }

  .shield-weapon,
  .spear-weapon,
  .baa-weapon {
    width: 85px;
    height: 85px;
  }

  .game-status {
    width: 600px;
    font-size: 28px;
  }

  .challenger-tab p {
    margin-bottom: 0.9rem;
  }

  .arena p {
    margin: 0.9rem 0;
  }

  .web-footer-text {
    font-size: 24px;
  }

  .modal-contents {
    width: 450px;
    padding: 2.25rem;
    font-size: 36px;
  }

  .modal-button {
    font-size: 34px;
  }

  .modal-divider {
    width: 100%;
    border: 3px solid #4a4a4d;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 70px;
  }

  .title p {
    font-size: 40px;
  }

  .title h4 {
    font-size: 40px;
  }

  button p {
    font-size: 32px;
  }

  .weapons,
  .game-status {
    width: 700px;
  }

  .game-status {
    font-size: 36px;
  }

  .web-footer-text {
    font-size: 32px;
  }

  .logo {
    margin-right: 0.5rem;
    width: 35px;
    height: 35px;
  }

  .bxl-github {
    margin-left: 0.8rem;
    font-size: 36px;
    color: #ffffff;
  }

  .modal-contents {
    width: 600px;
    padding: 2.25rem;
    font-size: 50px;
  }

  .modal-button {
    font-size: 48px;
  }

  .modal-divider {
    width: 100%;
    margin: 2rem auto;
    border: 3px solid #4a4a4d;
  }
}
